<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Inserir Livroaut</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="form-container">
    <h1>Inserir Livroaut</h1>
     <form action="{% url 'inserir' 'livroaut'  dados.livroid|add:'-'|add:dados.autorid %}" enctype="multipart/form-data" method="POST"> {% csrf_token %}

      <label for="livroid">ID do Livro</label>
      <input type="number" id="livroid" name="livroid" required min="1">

      <label for="autorid">ID do Autor</label>
      <input type="number" id="autorid" name="autorid" required min="1">

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
