<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Avaliar Autor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>
<body>
  <div class="form-container">
    <h1>Avaliar Autor</h1>
     <form action="
    {% if dados %}
      {% url 'editar' 'usravaliaaut' dados.usuarioid dados.autorid %}
    {% else %}
      {% url 'inserir' 'usravaliaaut' %} %}
    {% endif %}" 
    enctype="multipart/form-data" method="POST"> {% csrf_token %}



      <label for="usuarioid">ID do Usuário</label>
      <input type="number" id="usuarioid" name="usuarioid" required min="1" value="{{ dados.usuarioid|default_if_none:'' }}">

      <label for="autorid">ID do Autor</label>
      <input type="number" id="autorid" name="autorid" required min="1" value="{{ dados.autorid|default_if_none:'' }}">

      <label for="notaautor">Nota do Autor </label>
      <input type="number" id="notaautor" name="notaautor" min="1" max="5" required value="{{ dados.notaautor|default_if_none:'' }}">

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
