<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{% if dados %}Editar{% else %}Inserir{% endif %} Leitura de Livro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="form-container">
    <h1>{% if dados %}Editar{% else %}Inserir{% endif %} Leitura de Livro</h1>
    <form action="
    {% if dados %}
      {% url 'editar' 'usrlelivro' dados.usuarioid dados.livroid %}
    {% else %}
      {% url 'inserir' 'usrlelivro' %}
    {% endif %}" 
    enctype="multipart/form-data" method="POST"> {% csrf_token %}
      {% if not dados %}
      <label for="usuarioid">ID do Usuário</label>
      <input type="number" id="usuarioid" name="usuarioid" required min="1" value="{{ dados.usuarioid|default_if_none:'' }}">

      <label for="livroid">ID do Livro</label>
      <input type="number" id="livroid" name="livroid" required min="1" value="{{ dados.livroid|default_if_none:'' }}">
      {% endif %}

      <label for="statusleitura">Status da Leitura</label>
      <select id="statusleitura" name="statusleitura" required>
        <option value="">Selecione...</option>
        <option value="Lido" {% if dados.statusleitura == "Lido" %}selected{% endif %}>Lido</option>
        <option value="Lendo" {% if dados.statusleitura == "Lendo" %}selected{% endif %}>Lendo</option>
        <option value="Quero Ler" {% if dados.statusleitura == "Quero Ler" %}selected{% endif %}>Quero Ler</option>
        <option value="Relendo" {% if dados.statusleitura == "Relendo" %}selected{% endif %}>Relendo</option>
        <option value="Abandonei" {% if dados.statusleitura == "Abandonei" %}selected{% endif %}>Abandonei</option>
      </select>

      <label for="notalivro">Nota do Livro (opcional)</label>
      <input type="number" id="notalivro" name="notalivro" min="1" max="5" value="{{ dados.notalivro|default_if_none:'' }}">

      <label for="avalid">ID da Avaliação (opcional)</label>
      <input type="number" id="avalid" name="avalid" min="1" value="{{ dados.avalid|default_if_none:'' }}">

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
