<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Registrar Leitura de Livro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="form-container">
    <h1>Registrar Leitura de Livro</h1>
     <form action="{% if acao == 'inserir' %}
                    {% url 'formulario' 'inserir' 'usrlelivro' %}
                  {% elif acao == 'atualizar' %}
                    {% url 'formulario' 'atualizar' 'usrlelivro' %}
                  {% endif %}" enctype="multipart/form-data" method="POST"> {% csrf_token %}

      <label for="statusleitura">Status da Leitura</label>
      <select id="statusleitura" name="statusleitura" required>
        <option value="">Selecione...</option>
        <option value="Lendo">Lendo</option>
        <option value="Lido">Lido</option>
        <option value="Abandonado">Abandonado</option>
        <option value="Quero Ler">Quero Ler</option>
      </select>

      <label for="notalivro">Nota do Livro (opcional)</label>
      <input type="number" id="notalivro" name="notalivro" min="0" max="10">

      <label for="usuarioid">ID do Usuário</label>
      <input type="number" id="usuarioid" name="usuarioid" required min="1">

      <label for="livroid">ID do Livro</label>
      <input type="number" id="livroid" name="livroid" required min="1">

      <label for="avalid">ID da Avaliação (opcional)</label>
      <input type="number" id="avalid" name="avalid" min="1">

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
