<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Registrar Seguimento de Usuário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="form-container">
    <h1>Registrar Seguimento</h1>
     <form action="{% url 'inserir' 'usrsegueusr' %}" 
    enctype="multipart/form-data" method="POST"> {% csrf_token %}

      <label for="seguidorid">ID do Seguidor</label>
      <input type="number" id="seguidorid" name="seguidorid" required min="1">

      <label for="seguidoid">ID do Seguido</label>
      <input type="number" id="seguidoid" name="seguidoid" required min="1">

      <label for="datasegusr">Data do Seguimento</label>
      <input type="date" id="datasegusr" name="datasegusr" required>

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
