<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Inserir Usrsegueusr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="form-container">
    <h1>Inserir Usrsegueaut</h1>
     <form action="{% url 'inserir' 'usrsegueaut' %}"
    enctype="multipart/form-data" method="POST"> {% csrf_token %}

      <label for="usuarioid">ID do Usuário</label>
      <input type="number" id="usuarioid" name="usuarioid" required min="1">

      <label for="autorid">ID do Autor</label>
      <input type="number" id="autorid" name="autorid" required min="1">

      <label for="datasegaut">Data em que seguiu</label>
      <input type="date" id="datasegaut" name="datasegaut">


      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
